@import './constants.scss';

.modalConfirm{
  @include flex(center, center, row, stretch);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($color: #fff, $alpha: 1.0);
  z-index: 10;
}